<div class="w-full">
	<button class="float-right m-8 text-2xl" (click)="goBack()">
		&#x2716;
	</button>
</div>
<div *ngIf="user" class="flex justify-center items-center h-full">
	<form class="w-1/3">
		<div>
			<div class="border-b border-gray-900/10 pb-12">
				<h1 class="font-semibold leading-7 text-2xl text-gray-900">
					User details for {{ user.firstName }}
				</h1>
				<p class="mt-1 text-sm leading-6 text-gray-600">
					Use a permanent address where you can receive mail.
				</p>

				<div
					class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6"
				>
					<div class="sm:col-span-3">
						<label
							for="first-name"
							class="block text-sm font-medium leading-6 text-gray-900"
							>First name</label
						>
						<div class="mt-2">
							<input
								type="text"
								name="first-name"
								id="first-name"
								[(ngModel)]="user.firstName"
								autocomplete="given-name"
								class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
							/>
						</div>
					</div>

					<div class="sm:col-span-3">
						<label
							for="last-name"
							class="block text-sm font-medium leading-6 text-gray-900"
							>Last name</label
						>
						<div class="mt-2">
							<input
								type="text"
								name="last-name"
								id="last-name"
								[(ngModel)]="user.lastName"
								autocomplete="family-name"
								class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
							/>
						</div>
					</div>

					<div class="sm:col-span-6 w-full">
						<label
							for="email"
							class="block text-sm font-medium leading-6 text-gray-900"
							>Email address</label
						>
						<div class="mt-2">
							<input
								id="email"
								name="email"
								type="email"
								[(ngModel)]="user.email"
								autocomplete="email"
								class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
							/>
						</div>
					</div>
					<div class="sm:col-span-6 w-full">
						<label
							for="city"
							class="block text-sm font-medium leading-6 text-gray-900"
							>City</label
						>
						<div class="mt-2 w-full">
							<select
								id="city"
								name="city"
								autocomplete="city-name"
								[(ngModel)]="user.city"
								class="block rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 min-w-full ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
							>
								<option value="" disabled>
									{{ user.city }}
								</option>
								<option
									*ngFor="let city of cities"
									[value]="city"
								>
									{{ city }}
								</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mt-6 flex items-center justify-end gap-x-6">
			<button
				type="button"
				class="text-sm font-semibold leading-6 text-gray-900"
				(click)="goBack()"
			>
				Cancel
			</button>
			<button
				type="submit"
				class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
				(click)="save()"
			>
				Save
			</button>
		</div>
	</form>
</div>
